[remote "github"]
    url = git@github.com:huangyingw/vim-autoformat.git
    fetch = +refs/heads/*:refs/remotes/github/*
[remote "Chiel92"]
    url = git@github.com:Chiel92/vim-autoformat.git
    fetch = +refs/heads/*:refs/remotes/Chiel92/*
[push]
    remote = BareReps
    remote = origin
    remote = github
